body {
	margin: 0;
	background-color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;

	
	
}
.header {
	width: 100%;
	
	margin-top: -40px;
    background-color: #333333;
    
}


.title {
    padding-top: 20px;
	position: relative;
	font-size: 60px;
	color: white;
	margin-top: px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	float: center;
}

.header h2 {
	color: white;
	font-weight: 200;
	font-style: italic;
	
}




.differences_state {
	position: relative;
	height: 1500px;
	background-color: white;
	color: black;
	
}

.differences_state h2{
	position: relative;
	top: 10px;
	color: black;
	font-size: 20px;
	font-weight: 200;
	font-style: normal;
	
	
}
.bar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30px;
    
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

