body {
	margin: 0;
	background-color: #333333;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;

	
	
}



.title {
	position: relative;
	font-size: 60px;
	color: white;
	margin-top: px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	float: center;
}

.header h2 {
	color: white;
	font-weight: 200;
	font-style: italic;
	
}

.differences_state {
	position: relative;
	height: 600px;
	background-color: white;
	color: black;
	
}

.bar h2{
	position: relative;
	top: 20px;
	color: black;
	font-size: 20px;
	font-weight: 200;
	
	
}
.bar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30px;
}